<h1>Add a New Muppet</h1>

<form method='post' action='/meetups'>
  <input type='text' name='meetup_name' placeholder='Meetup Name'>
  <input type='text' name='location' placeholder='Location'>
  <input type='text' name='description' placeholder='Description'>
  <input type='submit' value='Submit'>
</form>
