<ul>
  <% @actors.sort_by{ |actor| actor["name"] }.each do |actor| %>
    <li>
      <% actor_name = actor["name"] %>
      <a href='/actors/<%= "#{actor_name}" %>'><%= actor_name %></a>
    </li>
  <% end %>
</ul>
