<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= 'LOCKP' %></title>
<!--  <link href="/reset.css" rel="stylesheet"> -->
  <link href="/style.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">League of Cool Kickball Professionals</a></h1>
      <h2>Welcome to the Jam!</h2>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>
</body>
<footer>
  <p>Lovingly crafted by <a href="http://www.twitter.com/lizvdk">Liz</a> and <a href="http://www.twitter.com/pezcore343">Chris</a></p>
</footer>
</html>
