<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title %></title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Groceries</h1>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p>Contact<br>
      <small><a href="https://www.github.com/pezcore343" target="_blank">GitHub</a></small><br>
      <small><a href="http://www.twitter.com/pezcore343" target="_blank">Twitter</a></small>
    </p>
  </footer>
</body>
</html>
