<div class="row">
  <div class="column">
    <a href="/movies" class="large button">Browse Movies</a>
  </div>
  <div class="column">
    <a href="/actors" class="large button">Browse Actors</a>
  </div>
</div>
