<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Deluxe Movie Catalog</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Deluxe Movie Catalog</a></h1>
      <h2>Browse for info on your favorite movies</h2>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p>Contact<br>
      <small><a href="https://www.github.com/pezcore343" target="_blank">GitHub</a></small><br>
      <small><a href="http://www.twitter.com/pezcore343" target="_blank">Twitter</a></small>
    </p>
  </footer>
</body>
</html>
