<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Deluxe Movie Catalog</title>
  <link href="/vendor/foundation.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <div class="row">
        <div class="large-12 column">
          <h1><a href="/">Deluxe Movie Catalog</a></h1>
          <h2>Browse for info on your favorite movies</h2>
        </div>
      </div>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
