Sort by: <a href='/movies?order=rating'>rating</a> |
         <a href='movies?order=year'>year</a> |
         <a href='movies?order=title'>title</a>
<ul>
  <% @sort_choice ||= "title" %>
  <% @movies.sort_by { |movie| movie["#{@sort_choice}"].to_i }.reverse.each do |movie| %>
  <% title = movie["title"] %>
  <% id = movie["id"] %>
    <li>
      <%= "<a href='/movies/#{id}'>#{title}</a>" %>
    </li>
  <% end %>
</ul>
