<ul>
  <% @movies.sort_by { |movie| movie["title"] }.each do |movie| %>
  <% title = movie["title"] %>
  <% id = movie["id"] %>
    <li>
      <%= "<a href='/movies/#{id}'>#{title}</a>" %>
    </li>
  <% end %>
</ul>
